trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
  terraformWorkingDirectory: "terraform"

stages:
- stage: Terraform
  displayName: "Terraform CI/CD (Trunk Based)"
  jobs:

  # ========================
  # PR VALIDATION JOB
  # ========================
  - job: Terraform_PR
    displayName: "PR - Terraform Init / Validate / Plan"
    condition: eq(variables['Build.Reason'], 'PullRequest')
    pool:
      name: 'selfhostedcicd'

    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: "1.6.6"

    - task: TerraformTaskV4@4
      displayName: "Terraform Init"
      inputs:
        provider: azurerm
        command: init
        workingDirectory: $(terraformWorkingDirectory)
        backendServiceArm: Azure-Service-Connection
        backendAzureRmResourceGroupName: rg-bestrong-tfstate
        backendAzureRmStorageAccountName: bestrongtbackend
        backendAzureRmContainerName: tfstate
        backendAzureRmKey: infra.tfstate

    - task: TerraformTaskV4@4
      displayName: "Terraform Validate"
      inputs:
        provider: azurerm
        command: validate
        workingDirectory: $(terraformWorkingDirectory)

    - task: TerraformTaskV4@4
      displayName: "Terraform Plan"
      inputs:
        provider: azurerm
        command: plan
        workingDirectory: $(terraformWorkingDirectory)
        environmentServiceNameAzureRM: Azure-Service-Connection


  # ========================
  # MAIN DEPLOYMENT JOB
  # ========================
  - job: Terraform_Main
    displayName: "Main - Terraform Apply"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    pool:
      name: 'selfhostedcicd'

    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: "1.6.6"

    - task: TerraformTaskV4@4
      displayName: "Terraform Init"
      inputs:
        provider: azurerm
        command: init
        workingDirectory: $(terraformWorkingDirectory)
        backendServiceArm: Azure-Service-Connection
        backendAzureRmResourceGroupName: rg-bestrong-tfstate
        backendAzureRmStorageAccountName: bestrongtbackend
        backendAzureRmContainerName: tfstate
        backendAzureRmKey: infra.tfstate

    - task: TerraformTaskV4@4
      displayName: "Terraform Validate"
      inputs:
        provider: azurerm
        command: validate
        workingDirectory: $(terraformWorkingDirectory)

    - task: TerraformTaskV4@4
      displayName: "Terraform Apply"
      inputs:
        provider: azurerm
        command: apply
        workingDirectory: $(terraformWorkingDirectory)
        environmentServiceNameAzureRM: Azure-Service-Connection
        args: "-auto-approve"
