trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
  terraformWorkingDirectory: "."
  serviceConnection: "Azure-Service-Connection"
  backendRG: "rg-bestrong-tfstate"
  backendStorage: "bestrongtbackend1"
  backendContainer: "tfstate"
  backendKey: "bestrong.tfstate"
  terraformVersion: "1.6.6"

stages:
- stage: Terraform
  displayName: "Terraform CI/CD"
  jobs:
  - job: Terraform_PR
    displayName: "PR: Validate & Plan"
    condition: eq(variables['Build.Reason'], 'PullRequest')
    pool:
      name: 'selfhostedcicd'

    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: $(terraformVersion)

    - task: TerraformTaskV4@4
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: $(terraformWorkingDirectory)
        backendServiceArm: $(serviceConnection)
        backendAzureRmResourceGroupName: $(backendRG)
        backendAzureRmStorageAccountName: $(backendStorage)
        backendAzureRmContainerName: $(backendContainer)
        backendAzureRmKey: $(backendKey)

    - task: TerraformTaskV4@4
      displayName: "Terraform Validate"
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: $(terraformWorkingDirectory)

    - task: TerraformTaskV4@4
      displayName: "Terraform Plan"
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: $(terraformWorkingDirectory)
        environmentServiceNameAzureRM: $(serviceConnection)

  - job: Terraform_Main
    displayName: "Main: Deploy to Azure"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    pool:
      name: 'selfhostedcicd'

    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: $(terraformVersion)

    - task: TerraformTaskV4@4
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: $(terraformWorkingDirectory)
        backendServiceArm: $(serviceConnection)
        backendAzureRmResourceGroupName: $(backendRG)
        backendAzureRmStorageAccountName: $(backendStorage)
        backendAzureRmContainerName: $(backendContainer)
        backendAzureRmKey: $(backendKey)

    - task: TerraformTaskV4@4
      displayName: "Terraform Apply"
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: $(terraformWorkingDirectory)
        environmentServiceNameAzureRM: $(serviceConnection)
        commandOptions: '-auto-approve'
